<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
</head>
<body>
	<section layout:fragment="content" class="main-container">
		<div id="wrap" class="container">
			<div id="main">
				<div class="jumbotron">
					<div class="row justify-content-center">
						<h3>Cadastro da Ficha de Identificação</h3>
					</div>
					<hr />
					<!-- MESSAGES -->
					<form th:object="${ficha}"
						th:action="@{/gtcc/fichaidentificacao/cadastrar}" method="POST"
						autocomplete="off" class="form-default form-horizontal"
						name="form">


						<div class="form-group row justify-content-center">
							<div class="input-group col-xl-5">
								<input type="text" name="tituloTrabalho" id="tituloTrabalho"
									class="form-control" th:field="*{tituloTrabalho}"
									autofocus="autofocus" placeholder="Título do Trabalho *"
									aria-label="Título do Trabalho" aria-describedby="basic-addon1">
							</div>
						</div>

						<div class="form-group row justify-content-center">
							<div class="input-group col-xl-5">
								<div style="color: red"
									th:if="${#fields.hasErrors('tituloTrabalho')}"
									th:errors="*{tituloTrabalho}"></div>
							</div>
						</div>

						<div class="form-group row justify-content-center">
							<div class="input-group col-xl-5">
								<input type="text" name="areaConcentracao" id="areaConcentracao"
									class="form-control" th:field="*{areaConcentracao}"
									placeholder="Area de concentração *"
									aria-label="Area de concentração"
									aria-describedby="basic-addon1">
							</div>
						</div>

						<div class="form-group row justify-content-center">
							<div class="input-group col-xl-5">
								<div style="color: red"
									th:if="${#fields.hasErrors('areaConcentracao')}"
									th:errors="*{areaConcentracao}"></div>
							</div>
						</div>

<!-- 						<div class="form-group row justify-content-center"> -->
<!-- 							<div class="input-group col-xl-5"> -->
<!-- 								<input type="number" name="ano" id="ano" class="form-control" -->
<!-- 									th:field="*{ano}" placeholder="Ano *" aria-label="Ano" -->
<!-- 									aria-describedby="basic-addon1"> -->
<!-- 							</div> -->
<!-- 						</div> -->

<!-- 						<div class="form-group row justify-content-center"> -->
<!-- 							<div class="input-group col-xl-5"> -->
<!-- 								<div style="color: red" th:if="${#fields.hasErrors('ano')}" -->
<!-- 									th:errors="*{ano}"></div> -->
<!-- 							</div> -->
<!-- 						</div> -->

<!-- 						<div class="form-group row justify-content-center"> -->
<!-- 							<div class="input-group col-xl-5"> -->
<!-- 								<select th:field="*{orientador}"> -->
<!-- 									<option value="">Selecione o Orientador</option> -->
<!-- 									<option th:each="orientador : ${professores}" th:value="${orientador.id}" -->
<!-- 										th:text="${orientador.matricula - orientador.nome}"></option> -->
<!-- 								</select> -->
<!-- 							</div> -->
<!-- 						</div> -->

<!-- 						<div class="form-group row justify-content-center"> -->
<!-- 							<div class="input-group col-xl-5"> -->
<!-- 								<div style="color: red;" th:if="${#fields.hasErrors('orientador')}" -->
<!-- 									th:errors="*{orientador}"></div> -->
<!-- 							</div> -->
<!-- 						</div> -->

						<br>
						<div class="form-group row justify-content-center">
							<div class="input-group col-xl-5">
								<label>* Esses campos são obrigatórios</label>
							</div>
						</div>
						<hr />
						<div class="form-group row justify-content-center ">
							<div class=" col-sm-2">
								<a id="alert" class="btn btn-lg btn-danger"
									th:href="@{/gtcc/home}"> Voltar </a>
							</div>
							<div class="col-sm-2 text-right">
								<button id="btn_salvar" type="submit"
									class="btn btn-lg btn-success" >Confirmar</button>
							</div>

						</div>
					</form>
				</div>
			</div>
			<div id="push"></div>
		</div>
	</section>

</body>
</html>