<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sf="http://www.springframework.org/tags/form"
    xmlns:s="http://www.springframework.org/tags"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
    layout:decorate="~{layout/layout}" >
<head>
</head>
<body>
	<section layout:fragment="content">
		<div id="wrap" class="container">
			<div id="main">
				<div class="jumbotron">
					<div th:if="${param.sucesso}">
						<script th:inline="javascript">
							/*<![CDATA[*/
								var flag = [[${param.sucesso}]]; 
							    window.onload = function() {
							        if(flag){
							  			alertify.success('Usuário Cadastrado com sucesso!');
							        }
								};
							/*]]>*/
						</script>
					</div>
					<div th:if="${param.atualizado}">
						<script th:inline="javascript">
							/*<![CDATA[*/
								var flag = [[${param.atualizado}]]; 
							    window.onload = function() {
							        if(flag){
							  			alertify.success('Usuário Atualizado com sucesso!');
							        }
								};
							/*]]>*/
						</script>
					</div>
					<div th:if="${param.removido}">
						<script th:inline="javascript">
							/*<![CDATA[*/
								var flag = [[${param.removido}]]; 
							    window.onload = function() {
							        if(flag){
							  			alertify.success('Usuário Removido com sucesso!');
							        }
								};
							/*]]>*/
						</script>
					</div>
					<div class="row">
						<div class="col-10 text-center">
							<h3 >Procurar Usuário</h3>
							
						</div>
						<div class="col-2 text-right">
							<button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#ajudaModal">
									Ajuda <i class="fa fa-question"></i>
								</button>
						</div>
					</div>
					<hr/>
					<form  th:object="${usuarioFilter}" th:action="@{/gtcc/usuarios}" method="POST"
							class="form-default form-horizontal" >
							<div class="form-group row justify-content-center ">
								<label for="nome" class="col-sm-2 col-form-label   text-right">Nome</label>
								<div class="controls col-sm-4">
									<input type="text" name="nome"
										th:field="*{nome}"
										id="nome" class="form-control "
										autofocus="autofocus"
										/>
								</div>
							</div>
							 <div class="form-group row justify-content-center ">
								<label for="nomeUsuario" class="col-sm-2 col-form-label   text-right">Nome de usuário</label>
								<div class="controls col-sm-4">
									<input type="text" name="nomeUsuario"
										th:field="*{nomeUsuario}"
										id="nomeUsuario" class="form-control "
										/>
								</div>
							</div>
							<div class="form-group row justify-content-center " >
							<label for="cpf" class="col-sm-2 col-form-label   text-right">CPF</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="cpf"
									id="cpf" class="form-control cpf"
									th:field="*{cpf}" 
									/>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="cargo" class="col-sm-2 col-form-label   text-right">Cargo</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="cargo"
									id="cargo" class="form-control"
									th:field="*{cargo}" 
									/>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="dataNascimento" class="col-sm-2 col-form-label   text-right">Data de Nascimento</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="dataNascimento"
									id="dataNascimento" class="form-control date"
									th:field="*{dataNascimento}" 
									/>
							</div>
						</div>
							<div class="form-group row justify-content-center ">
								<label for="nome" class="col-sm-2 col-form-label   text-right">E-mail</label>
								<div class="controls col-sm-4 col-sm-4">
									<input type="text" name="email"
										th:field="*{email}"
										id="email" class="form-control "
										/>
								</div>
							</div>
							<div class="form-group row justify-content-center ">
								<label for="ativo" class="col-sm-2 col-form-label   text-right">Ativo</label>
								<div class="controls col-sm-4 col-sm-4">
								    <input id="ativo" checked type="checkbox" value="true" data-onstyle="success" data-offstyle="info" data-toggle="toggle" data-on="Sim" data-off="Não" th:field="*{ativo}">
								</div>
							</div>
			                                         
							<hr />
							<div class="form-group row justify-content-center ">
								<div class="col-sm-2 text-right">
									<button type="submit"
										class="btn btn-lg btn-success">Procurar</button>
								</div>
								<div class="col-sm-2 text-right">
									<a class="btn btn-lg btn-success"  th:href="@{/gtcc/usuarios/cadastrar}"
									>Adicionar</a>
									
								</div>
							</div>
					</form>
				</div>
			
				<table id="tabela_usuarios"
				class="table table-hover table-striped table-bordered table-click">
				<thead>
					<tr>
						<th class="">Nome</th>
						<th class="">Nome Usuário</th>
						<th class="">E-mail</th>
						<th class="">Nascimento</th>
						<th class="">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="usuario : ${usuarios}">
						<td th:text="${usuario.nome}"></td>
						<td th:text="${usuario.nomeUsuario}"></td>
						<td th:text="${usuario.email}"></td>
						<td th:text="${usuario.dataNascimento}"></td>
						<td>
							<div class="btn-group pull-right">
								<a class="btn btn-sm btn-warning" th:href="@{/gtcc/usuarios/detalhes/{id}(id=${usuario.id})}" >Detalhes</a>
                                <a th:if="${usuario.isAtivo() eq 1}" sec:authorize="hasRole('ROLE_USUARIOS_EDITAR')" class="btn btn-sm btn-primary" th:href="@{/gtcc/usuarios/editar/{id}(id=${usuario.id})}" >Editar</a>
                                
                                <button id="excluir" sec:authorize="hasRole('ROLE_USUARIOS_EXCLUIR')"
                                 th:if="${usuario.isAtivo() eq 1}"
                                 type="button" th:value="${usuario.id}" class="btn btn-sm btn-danger"  data-toggle="modal"  data-target="#confirmacaoModal">
									Excluir
								</button>
                           </div>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(usuarios)}">
                    	<td colspan="5">
	                    	<div class="alert alert-info" style="background-color: #f1f3f5;" role="alert">
							  Nenhum registro encontrado
							</div> 
						</td>
                    </tr> 
				</tbody>
				<tfoot>
			
				</tfoot>
			</table>
			</div>
		</div>
		
		<!--  MODAL PARA CONFIRMAÇÃO DA EXCLUSÃO -->
						<div class="modal fade" id="confirmacaoModal" tabindex="-1" role="dialog" aria-labelledby="confirmacaoModalLabel" aria-hidden="true" 
							>
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="confirmacaoModalLabel">Exclusão de usuário</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        Tem certeza disso?
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						        
						        <a  id="excluirModal" class="delete btn btn-primary" >Excluir</a>
						      </div>
						    </div>
						  </div>
						</div>
						<script th:inline="javascript">
								/*<![CDATA[*/
									window.onload = function() {
										var usuarioID = 0;
								    	$('#excluir').on('click', function(){
								    		 usuarioId = $(this).val();
								    	});
								    	$('#confirmacaoModal').on('show.bs.modal', function (e) {
								            $(this).find('#excluirModal').attr('href', '/gtcc/usuarios/remover/'+usuarioId);
								        });
									};
								/*]]>*/
							</script>
		
		<!-- MODAL PARA INTERFACE DE AJUDA-->
		<div class="modal fade" id="ajudaModal" tabindex="-1" role="dialog" aria-labelledby="ajudaModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="ajudaModalLabel">Ajuda</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <h4>Adição de usuário</h4>
						        <p class="text-justify"> Para a realização do cadstro de um usuário, se faz necessário o clique no botão "Adicionar" e o preenchimento de 
						        	todos os campos obrigatórios. Após o cadastro, o usuário pode se logar no sistema utilizando
						        	as crendências cadastradas. </p>
						        	<hr/>
						       	<h4>Edição de usuário</h4>
						        <p class="text-justify"> Para a realização da edição de um usuário, se faz necessário selecionar o usuário na tebela e clicar em "Editar". 
						        	Após a alteração de todos os campos necessários, o usuário será atualizado com os novos valores. </p>
						        	<hr/>
						        <h4>Remoção de usuário</h4>
						        <p class="text-justify"> Para a realização da remoção de um usuário, se faz necessário selecionar o usuário na tebela e clicar em "Excluir". 
						        	Após a a exclusão, o usuário será removido da tabela. </p>
						        	<hr/>
						        <h4>Consulta de usuário</h4>
						        <p class="text-justify"> Para a realização da consulta de um usuário, se faz necessário preencher os campos que queira fazer a busca. 
						        	Após o preenchimento dos campos, os ususários que corresponderem aqueles parâmetros serão retornados. </p>
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-success" data-dismiss="modal">Entendi</button>
						      </div>
						    </div>
						  </div>
						</div>
						
						
	</section>
</body>

</html>