<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
</head>
<body>
<section layout:fragment="content">
    <div id="wrap" class="container">
        <div id="main">
            <div class="jumbotron">
                <div class="row justify-content-center">
                    <h3>Cadastro de Usuario</h3>
                </div>
                <hr/>
                <!-- MESSAGES -->
                <form th:object="${usuario}" th:action="@{/gtcc/usuarios/cadastrar}" method="POST" autocomplete="off"
                      class="form-default form-horizontal" name="form">


                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <input type="text" name="nome" required
                                   id="nome" class="form-control"
                                   th:field="*{nome}" autofocus="autofocus" placeholder="Usuário *" aria-label="Usuário"
                                   aria-describedby="basic-addon1">
                            <div style="color: red;" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <input type="text" name="nomeUsuario" autocomplete="off"
                                   id="nomeUsuario" class="form-control" required
                                   th:field="*{nomeUsuario}" autofocus="autofocus" placeholder="Nome de Usuário *"
                                   aria-label="Nome de Usuário" aria-describedby="basic-addon1">
                            <div style="color: red;" th:if="${#fields.hasErrors('nomeUsuario')}"
                                 th:errors="*{nomeUsuario}"></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <input type="text" name="telefone"
                                   id="telefone" class="form-control" pattern="\([0-9]{2}\)[\s][0-9]{4}-[0-9]{4,5}"
                                   th:field="*{telefone}" autofocus="autofocus" placeholder="Telefone"
                                   aria-label="Telefone" aria-describedby="basic-addon1">
                            <div style="color: red;" th:if="${#fields.hasErrors('telefone')}"
                                 th:errors="*{telefone}"></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <input type="email" name="email" pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                                   id="email" class="form-control" required
                                   th:field="*{email}" autofocus="autofocus" placeholder="E-mail *" aria-label="E-mail"
                                   aria-describedby="basic-addon1" onblur="validaEmail()">
                            <script type="text/javascript">
                                function validaEmail() {
                                    var email = document.getElementById('email').value;
                                    console.log(email);
                                        $.ajax({
                                            type: "POST",
                                            url: "/validaEmail/"+email
                                        });
                                    }
                            </script>
                            <div style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                    </div>
                    
					

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <input type="password" name="senha" autocomplete="off"
                                   id="senha" class="form-control" required
                                   th:field="*{senha}" autofocus="autofocus" placeholder="Senha *" aria-label="Senha"
                                   aria-describedby="basic-addon1">
                            <div style="color: red;" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></div>
                        </div>
                    </div>


                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <input type="password" name="confirmarSenha" autocomplete="off"
                                   id="confirmarSenha" class="form-control" required
                                   th:field="*{confirmarSenha}" autofocus="autofocus" placeholder="Confirmar senha *"
                                   aria-label="Confirmar senha" aria-describedby="basic-addon1">
                            <div style="color: red;" th:if="${#fields.hasErrors('confirmarSenha')}"
                                 th:errors="*{confirmarSenha}"></div>
                        </div>
                    </div>


                    <label>Tipo de Usuário *</label>


                    <div class="form-check justify-content-center">
                        <input class="form-check-input" th:field="*{tipo}" type="radio" name="tipo" id="aluno" value="1" checked="true">
                        <label class="form-check-label" for="aluno">
                            Aluno
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" th:field="*{tipo}" type="radio" name="tipo" id="professor" value="0">
                        <label class="form-check-label" for="professor">
                            Professor
                        </label>
                    </div>

                    <label>* Esses campos são obrigatórios</label>

                    <hr/>
                    <div class="form-group row justify-content-center ">
                        <div class=" col-sm-2">
                            <a id="alert" class="btn btn-lg btn-danger" th:href="@{/gtcc/login}">
                                Voltar </a>
                        </div>
                        <div class="col-sm-2 text-right">
                            <button id="btn_salvar" type="button" class="btn btn-lg btn-success" data-toggle="modal"
                                    data-target="#confirmacaoModal" th:disabled="${#fields.hasAnyErrors()}">
                                Confirmar
                            </button>
                        </div>

                    </div>

                    <!--  MODAL -->
                    <div class="modal fade" id="confirmacaoModal" tabindex="-1" role="dialog"
                         aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmacaoModalLabel">Cadastro de usuário</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Tem certeza disso?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-success">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div id="push"></div>
    </div>
</section>

</body>
</html>