<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}" >
<head>
</head>
<body>
	<section layout:fragment="content">
		<div id="wrap" class="container">
			<div id="main">
				<div class="jumbotron">
					<div class="row justify-content-center">
						<h3>Atualizar Usuário</h3>
					</div>
					<hr/>
					<!-- MESSAGES -->
					<form th:object="${usuario}" th:action="@{/gtcc/usuarios/editar/{id}(id=${usuario.id})}" method="POST"
						class="form-default form-horizontal" >
						<div class="form-group row justify-content-center ">
							<label for="id" class="col-sm-2 col-form-label   text-right">ID</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="id"
									id="id" class="form-control"
									th:field="*{id}" 
									readOnly="readonly"
									/>
							</div>
						</div>
						<div class="form-group row justify-content-center ">
							<label for="nome-usuario" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Nome de usuário</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="nome"
									id="nome-usuario" class="form-control"
									th:field="*{nomeUsuario}" 
									/>
								<div style="color: red;" th:if="${#fields.hasErrors('nomeUsuario')}" th:errors="*{nomeUsuario}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center ">
							<label for="nome" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Nome Completo</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="nome"
									id="nome" class="form-control"
									th:field="*{nome}" 
									/>
								<div style="color: red;" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="cpf" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>CPF</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="cpf"
									id="cpf" class="form-control cpf"
									th:field="*{cpf}" autofocus="autofocus"
									/>
									<div style="color: red;" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="rua" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Rua</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="rua"
									id="rua" class="form-control "
									th:field="*{endereco.rua}" 
									/>
									<div style="color: red;" th:if="${#fields.hasErrors('endereco.rua')}" th:errors="*{endereco.rua}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="numero" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Número</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="numero"
									id="numero" class="form-control "
									th:field="*{endereco.numero}" 
									/>
									<div style="color: red;" th:if="${#fields.hasErrors('endereco.numero')}" th:errors="*{endereco.numero}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="complemento" class="col-sm-2 col-form-label   text-right">Complemento</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="complemento"
									id="complemento" class="form-control "
									th:field="*{endereco.complemento}" 
									/>
									<div style="color: red;" th:if="${#fields.hasErrors('endereco.complemento')}" th:errors="*{endereco.complemento}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="bairro" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Bairro</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="bairro"
									id="bairro" class="form-control "
									th:field="*{endereco.bairro}" 
									/>
									<div style="color: red;" th:if="${#fields.hasErrors('endereco.bairro')}" th:errors="*{endereco.bairro}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="cidade" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Cidade</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="cidade"
									id="cidade" class="form-control "
									th:field="*{endereco.cidade}" 
									/>
									<div style="color: red;" th:if="${#fields.hasErrors('endereco.cidade')}" th:errors="*{endereco.cidade}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="cep" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>CEP</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="cep"
									id="cep" class="form-control "
									th:field="*{endereco.CEP}" 
									/>
									<div style="color: red;" th:if="${#fields.hasErrors('endereco.CEP')}" th:errors="*{endereco.CEP}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="cargo" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Cargo</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="cargo"
									id="cargo" class="form-control"
									th:field="*{cargo}" 
									/>
									<div style="color: red;" th:if="${#fields.hasErrors('cargo')}" th:errors="*{cargo}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center " >
							<label for="dataNascimento" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Data de Nascimento</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="dataNascimento"
									id="dataNascimento" class="form-control date"
									th:field="*{dataNascimento}" 
									/>
									<div style="color: red;" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center ">
							<label for="email" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>E-mail</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="email"
									th:field="*{email}"
									id="email" class="form-control "
									/>
								<div style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center ">
							<label for="confirmarEmail" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Confirmar E-mail</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="text" name="confirmarEmail"
									th:field="*{confirmarEmail}"
									id="confirmarEmail" class="form-control "
									/>
								<div style="color: red;" th:if="${#fields.hasErrors('confirmarEmail')}" th:errors="*{confirmarEmail}" ></div>
							</div>
							
						</div>
						<div class="form-group row justify-content-center ">
							<label for="senha" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Senha</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="password" name="senha"
									th:field="*{senha}"
									id="senha" class="form-control "
									/>
								<div style="color: red;" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center ">
							<label for="confirmarSenha" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Confirmar senha</label>
							<div class="controls col-sm-4 col-sm-4">
								<input type="password" name="confirmarSenha"
									id="confirmarSenha" class="form-control"
									th:field="*{confirmarSenha}" 
									/>
								<div style="color: red;" th:if="${#fields.hasErrors('confirmarSenha')}" th:errors="*{confirmarSenha}" ></div>
							</div>
						</div>
						<div class="form-group row justify-content-center ">
							<label for="perfilUsuario" class="col-sm-2 col-form-label   text-right"><span style="color: red;">*</span>Perfil de usuário</label>
							<div class="controls col-sm-4 col-sm-4">
								<select name="perfilUsuario" class="form-control " data-type="select2"
									required="required">
									<option th:each="perfil : ${perfisUsuario}"
						                th:value="${perfil.id}"
						                th:text="${perfil.nome}" />									
								</select>
								<div style="color: red;" th:if="${#fields.hasErrors('perfilUsuario')}" th:errors="*{perfilUsuario}" ></div>
							</div>
						</div>        
						<hr />
						<div class="form-group row justify-content-center ">
							<div class="col-sm-2 text-right">
								<button type="submit" class="btn btn-lg btn-success">Atualizar</button>
							</div>
							<div class=" col-sm-2">
								<a id="alert" class="btn btn-lg btn-primary" th:href="@{/gtcc/usuarios}" >
									Cancelar </a>
							</div>
						</div>
				</form>
				</div>
				</div>
			<div id="push"></div>
		</div>
	</section>
</body>
</html>