<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
</head>
<body>
<section layout:fragment="content"  class="main-content">
    <div id="wrap" class="container">
        <div id="main">
            <div class="jumbotron">
                <div class="row justify-content-center">
                    <h3>Cadastro de Usuario</h3>
                </div>
                <hr/>
                <!-- MESSAGES -->
                <form th:object="${usuario}" th:action="@{/gtcc/usuarios/cadastrar}" method="POST" autocomplete="off"
                      class="form-default form-horizontal" name="form">


                    <div class="form-group row justify-content-center">
                        <div class="field-wrapper col-xl-5">
                            <input type="text" name="nome"
                                   id="nome" class="form-control"
                                   th:field="*{nome}" autofocus="autofocus" aria-label="Usuário"
                                   aria-describedby="basic-addon1">
                            <div class="field-placeholder"><span>Nome Completo*</span></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                        <div style="color: red" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="field-wrapper col-xl-5">
                            <input type="text" name="nomeUsuario" autocomplete="off"
                                   id="nomeUsuario" class="form-control"
                                   th:field="*{nomeUsuario}" autofocus="autofocus"
                                   aria-label="Nome de Usuário" aria-describedby="basic-addon1">
                            <div class="field-placeholder"><span>Nome de Usuário*</span></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <div style="color: red;" th:if="${#fields.hasErrors('nomeUsuario')}"
                                 th:errors="*{nomeUsuario}"></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="field-wrapper col-xl-5">
                            <input type="text" name="telefone"
                                   id="telefone" class="form-control"
                                   th:field="*{telefone}" autofocus="autofocus"
                                   aria-label="Telefone" aria-describedby="basic-addon1">
                            <div class="field-placeholder"><span>Telefone*</span></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <div style="color: red;" th:if="${#fields.hasErrors('telefone')}"
                                 th:errors="*{telefone}"></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="field-wrapper col-xl-5">
                            <input type="text" name="email"
                                   id="email" class="form-control"
                                   th:field="*{email}" autofocus="autofocus" aria-label="E-mail"
                                   aria-describedby="basic-addon1">
                           <div class="field-placeholder"><span>E-mail*</span></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <div style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="field-wrapper col-xl-5">
                            <input type="password" name="senha" autocomplete="off"
                                   id="senha" class="form-control"
                                   th:field="*{senha}" autofocus="autofocus" aria-label="Senha"
                                   aria-describedby="basic-addon1">
                            <div class="field-placeholder"><span>Senha*</span></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <div style="color: red;" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></div>
                        </div>
                    </div>


                    <div class="form-group row justify-content-center">
                        <div class="field-wrapper col-xl-5">
                            <input type="password" name="confirmarSenha" autocomplete="off"
                                   id="confirmarSenha" class="form-control"
                                   th:field="*{confirmarSenha}" autofocus="autofocus"
                                   aria-label="Confirmar senha" aria-describedby="basic-addon1">
                           <div class="field-placeholder"><span>Confirmar Senha*</span></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <div style="color: red;" th:if="${#fields.hasErrors('confirmarSenha')}"
                                 th:errors="*{confirmarSenha}"></div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <label>* Esses campos são obrigatórios</label>
                        </div>
                    </div>

                    <hr/>
                    <div class="form-group row justify-content-center ">
                        <div class=" col-sm-2">
                            <a id="alert" class="btn btn-lg btn-danger" th:href="@{/gtcc/login}">
                                Voltar </a>
                        </div>
                        <div class="col-sm-2 text-right">
                            <button id="btn_salvar" type="button" class="btn btn-lg btn-success" data-toggle="modal"
                                    data-target="#confirmacaoModal">
                                Confirmar
                            </button>
                        </div>

                    </div>

                    <!--  MODAL -->
                    <div class="modal fade" id="confirmacaoModal" tabindex="-1" role="dialog"
                         aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmacaoModalLabel">Cadastro de usuário</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Tem certeza disso?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-success">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div id="push"></div>
    </div>
</section>

</body>
</html>