<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
</head>
<body>
<section class="main-content" layout:fragment="content">
    <div id="wrap" style="width: 98%">
        <div id="main">
            <div class="jumbotron">
                <div class="row justify-content-center">
                    <h3>Mapa de Notas</h3>
                </div>
                  <hr/>
                  <form th:object="${mapaNotasFiltro}"
						th:action="@{/gtcc/mapanotas/consultar}" method="POST"
						class="form-default form-horizontal">
						<div class="form-group row justify-content-center">
							<div class="field-wrapper col-xl-8">
								<input type="number" name="ano" id="ano"
									class="form-control" th:field="*{ano}"
									placeholder="Ano"
									aria-label="Ano" aria-describedby="basic-addon1">
							</div>
							<div class="input-group col-xl-2">
								<button class="btn btn-outline-secondary" type="submit"
									style="height: 60px;">
									<span class="fa fa-search"></span> Pesquisar
								</button>
							</div>
						</div>
					</form>
                <div class="table-responsive">
				  <table id="table" class="table table-hover table-bordered table-striped">
				  	<thead class="thead-dark">
					    <tr id="basic-informations">
					      <th scope="col">RA</th>
					      <th scope="col">Aluno</th>
					      <th scope="col">Trabalho</th>
					      <th scope="col">Orientador</th>
					      <th scope="col">Banca 1</th>
					      <th scope="col">Banca 2</th>
					    </tr>
					  </thead>
					  <tbody>
					  <tr  id="informations_mapaNotas" th:if="${not #lists.isEmpty(mapaNotas)}" th:each="mapaNota : ${mapaNotas}">
					    	<td th:text="${mapaNota.fichaIdentificacao.aluno.ra}"></td>
							<td th:text="${mapaNota.fichaIdentificacao.aluno.nome}"></td>
							<td th:text="${mapaNota.fichaIdentificacao.tituloTrabalho}"></td>
							<td th:text="${mapaNota.fichaIdentificacao.orientador.nome}"></td>
							<td th:text="${mapaNota.fichaIdentificacao.avaliador1.nome}"></td>
							<td th:text="${mapaNota.fichaIdentificacao.avaliador2.nome}"></td>
							<td style="display: none;">
								<form th:action="@{/gtcc/mapanotas/editar/{id}(id=${mapaNota.id})}" method="GET">
					                <button class="btn btn-warning"  type="submit">
					                    Editar
					                </button>
					            </form>
				            </td>
					</tr> 
                    <tr th:if="${#lists.isEmpty(mapaNotas)}">
                    	<td colspan="6">
	                    	<div class="alert alert-info" style="background-color: #f1f3f5;" role="alert">
							  Nenhum registro encontrado
							</div> 
						</td>
                    </tr>
              
				</tbody>
				  </table>
				</div>
				
                   
            </div>
        </div>
    </div>
    <script th:inline="javascript">
		/*<![CDATA[*/
			/*
				CONSTRUÇÃO DOS CAMPOS DE NOTAS PARA O LANÇAMENTO DE NOTAS
			*/
			var mapaNotas = [[${mapaNotas}]]; 
			if(mapaNotas.length > 0 ){
				
				var criterio = mapaNotas[0].criterioAvaliacao;
				var notas = criterio.quantidadeNotas.split("|");
				let theadNotas = "";
				for(let i = 0; i< notas.length; i++){
					let bim = i + 1;
					let colspan = 1;
					if(criterio.quantidadeNotas[i] > 1) colspan += parseInt(criterio.quantidadeNotas[i]);
					theadNotas += "<th colspan='"+colspan+"'>"+
		  			 bim+" Av"+
		  			"</th>";
				}
				
				theadNotas += "<th colspan='2'>"+
	  			"</th>";
				$("#basic-informations").before("" +
				   		"<tr>"+
				  			"<th colspan='6'>"+
				  			"</th>"+
				  			theadNotas +
				  		"</tr>" +
				   		"");
				
				for (nota of notas) {
					let media = "";
					let ths = "";
					if(nota > 1) 
						media = "<th scope='col'>Média </th>";
					
					for(let i = 0; i< nota; i++){
						let n = i + 1;
						ths += "<th scope='col'>N"+n+"</th>"
					}
					ths += media;
					   	$("#basic-informations th:last").after(
					   		  ths
					   		)	
					   		
				}
				$("#basic-informations th:last").after(
						"<th scope='col'>Média Final</th>"+
						"<th style='display: none;' scope='col'>Ação</th>"
				   		)	
				   		
				//ALTERANDO O ID DAS ROWS DA TABLE
				var table = document.getElementById("table");
				for (let i = 2, row; row = table.rows[i]; i++) {
					row.id = row.id+i;
				}
				
				//ADICIONANDO OS VALORES DAS NOTAS
				let count_id = 2;
				for (mapa of mapaNotas){
					let sum_total = 0;
					let count_total = 0;
					let notas_ano = mapa.notas.split("|")
					notas_ano.pop();
					let tds = "";
					for(nota_bim of notas_ano){
						let notas_bim = nota_bim.split("#");
						let sum = 0;
						for(nota of notas_bim ){
							tds += "<td>"+nota+"</td>"
							sum += parseFloat(nota);
							sum_total += parseFloat(nota);
							count_total++;
						}
						
						if(notas_bim.length > 1){
							tds += "<td>"+(sum/notas_bim.length).toFixed(2)+"</td>";
						}
						
					}
					
					//ADICIONANDO MÉDIA FINAL
					tds += "<td>"+(sum_total/count_total).toFixed(2)+"</td>";
					
					$("#informations_mapaNotas"+count_id+" td:last").before(
							tds
					   		)
					count_id++;
				}
		   		
			}
	</script>
</section>

</body>
</html>