<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
</head>
<body>
<section class="main-content" layout:fragment="content">
    <div id="wrap" class="container">
        <div id="main">
            <div class="jumbotron">
            	<div th:if="${param.sucesso}">
						<script th:inline="javascript">
							/*<![CDATA[*/
								var flag = [[${param.sucesso}]]; 
							    window.onload = function() {
							        if(flag){
							  			alertify.success('Aluno Cadastrado com sucesso!');
							        }
								};
							/*]]>*/
						</script>
						
					</div>
            
            
                <div class="row justify-content-center">
                    <h3>Lançamento de notas</h3>
                </div>
                <hr/>
                
                <script th:inline="javascript">
							/*<![CDATA[*/
								var quantidade_avaliacoes = [[${criterioAvaliacao.quantidadeAvaliacao}]]; 
							   	console.log("QUANTIDADE AVALIACAO", quantidade_avaliacoes);
							/*]]>*/
						</script>
                <!-- MESSAGES -->
                <form th:object="${mapaNotas}" th:action="@{/gtcc/mapaNotas/lancarNotas}" method="POST" autocomplete="off"
                      class="form-default form-horizontal" name="form">

					<div class="form-group  row justify-content-center">
							<div class="input-group col-8">
								<label>* Esses campos são obrigatórios</label>
							</div>
					</div>
		
					<div class="row justify-content-center">
						<div class="col-8">
							<div class="form-group" >
		                                <label for="ano" class="col-form-label text-right">Ano</label>
		                                <div class="controls">
		                                    <input type="number" name="ano"
		                                           id="ano" class="form-control"
		                                           autofocus="autofocus"
		                                           th:field="*{ano}"
		                                    />
		                                    <div style="color: red;" th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}" ></div>
		                                </div>
		                     </div>
	                     </div>
                    </div>
					<div class="row justify-content-center">
						<div class="col-8">
							<div class="form-group" >
		                                <label for="aluno" class="col-form-label text-right">Aluno</label>
		                                <div class="controls">
		                                    <select th:field="*{fichaIdentificacao}" class="form-control" style="height: 60px;">
												<option value="">Selecione o Aluno</option>
												<option th:each="ficha : ${fichas}"
													th:value="${ficha.id}" th:text="${ficha.aluno.nome}"></option>
											</select>
		                                    <div style="color: red;" th:if="${#fields.hasErrors('fichaIdentificacao')}" th:errors="*{fichaIdentificacao}" ></div>
		                                </div>
		                     </div>
	                     </div>
                    </div>
                    <hr/>
                    <div class="form-group row justify-content-center ">
                        <div class=" col-sm-2">
                            <a id="alert" class="btn btn-lg btn-danger" th:href="@{/gtcc/login}">
                                Voltar </a>
                        </div>
                        <div class="col-sm-2 text-right">
                            <button id="btn_salvar" type="submit" class="btn btn-lg btn-success">
                                Confirmar
                            </button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
        <div id="push"></div>
    </div>
</section>

</body>
</html>