<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
</head>
<body>
<section class="main-content" layout:fragment="content">
    <div id="wrap" class="container">
        <div id="main">
            <div class="jumbotron">
            	<div th:if="${param.sucesso}">
						<script th:inline="javascript">
							/*<![CDATA[*/
								var flag = [[${param.sucesso}]]; 
							    window.onload = function() {
							        if(flag){
							  			alertify.success('Nota Cadastrada com sucesso!');
							        }
								};
							/*]]>*/
						</script>
						
					</div>
            
            
                <div class="row justify-content-center">
                    <h3>Lançamento de notas</h3>
                </div>
                <hr/>
                
                <!-- MESSAGES -->
                <form id="submitMapaNotas" th:object="${mapaNotas}" th:action="@{/gtcc/mapanotas/lancarNotas}" method="POST" autocomplete="off"
                      class="form-default form-horizontal" name="form">
                      
                    <!-- Atualizado de acordo com os valores inseridos -->
					<input type="hidden" name="notas" id="notas" 
								th:field="*{notas}">
					<input type="hidden" name="criterioAvaliacao" id="criterioAvaliacao" 
								th:field="*{criterioAvaliacao}">		

					<div class="form-group  row justify-content-center">
							<div class="input-group col-8">
								<label>* Esses campos são obrigatórios</label>
							</div>
					</div>
		
					<div class="row justify-content-center">
						<div class="col-8">
							<div class="form-group" >
		                                <label for="ano" class="col-form-label text-right">Ano*</label>
		                                <div class="controls">
		                                    <input type="number" name="ano"
		                                           id="ano" class="form-control"
		                                           autofocus="autofocus"
		                                           th:field="*{ano}"
		                                           required
		                                    />
		                                    <div style="color: red;" th:if="${#fields.hasErrors('ano')}" th:errors="*{ano}" ></div>
		                                </div>
		                     </div>
	                     </div>
                    </div>
					<div class="row justify-content-center">
						<div class="col-8">
							<div class="form-group" >
		                                <label for="aluno" class="col-form-label text-right">Aluno*</label>
		                                <div class="controls">
		                                    <select id="select_fichas" th:field="*{fichaIdentificacao}" class="form-control" style="height: 60px;" disabled>
												<option value="">Selecione o ano</option>
												
											</select>
		                                    <div style="color: red;" th:if="${#fields.hasErrors('fichaIdentificacao')}" th:errors="*{fichaIdentificacao}" ></div>
		                                </div>
		                     </div>
	                     </div>
                    </div>
                    <hr id="end-input"/>
                    <div class="form-group row justify-content-center ">
                        <div class=" col-sm-2">
                            <a id="alert" class="btn btn-lg btn-danger" th:href="@{/gtcc/login}">
                                Voltar </a>
                        </div>
                        <div class="col-sm-2 text-right">
                            <button id="btn_salvar" type="submit" class="btn btn-lg btn-success">
                                Confirmar
                            </button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
        <div id="push"></div>
    </div>
    <script th:inline="javascript">
		/*<![CDATA[*/
			/*
				CONSTRUÇÃO DOS CAMPOS DE NOTAS PARA O LANÇAMENTO DE NOTAS
			*/
			var criterioAvaliacaoID = [[${criterioAvaliacao.id}]]; 

			if(criterioAvaliacaoID != -1){
				var quantidade_avaliacoes = [[${criterioAvaliacao.quantidadeAvaliacao}]]; 
				var quantidade_notas = [[${criterioAvaliacao.quantidadeNotas}]].split(",");
				for (let i = 0; i<quantidade_avaliacoes;i++){	
					let count = i+1;
					let inputs = "";
					
					for(let j = 0; j< quantidade_notas[i]; j++){
						let count_nota = j + 1;
						inputs += "<input type='number' min='0' step='any' name='nota-"+count+"-"+count_nota+
	                    			"' id='nota-"+count+"-"+count_nota+"' class='form-control'"+
	                    			"placeholder='Nota "+count_nota+"'"+
	             					"/>"
	                    			
					}
					   	$("#end-input").before(
					   		  "<div class='row justify-content-center'>"+
									"<div class='col-8'>"+
										"<div class='form-group' >"+
					                                "<label for='bim-"+count+ "' class='col-form-label text-right'> "+count+" Bimestre</label>"+
					                                "<div class='controls'>"+
					                                	inputs+
					                                "</div>"+
					                     "</div>"+
				                     "</div>"+
			                    "</div>"
					   			);	
				}
				
				
				/*
					CAPTAÇÃO DOS VALORES
				*/
				$('#submitMapaNotas').submit(function(e) {
					var notas = "";
					//captura os valores atribuidos as notas
					for (let i = 0; i<quantidade_avaliacoes;i++){	
						let count = i+1;				
						for(let j = 0; j< quantidade_notas[i]; j++){
							let count_nota = j + 1;
							let nota = document.getElementById("nota-"+count+"-"+count_nota).value;
							nota = (nota == "") ? "0" : nota;
							notas += nota;
							if(count_nota != quantidade_notas[i])
							notas +="#";
						}
						notas += "|";
						//atualiza os valores das variaveis
						$("#notas").val(notas);
						$("#criterioAvaliacao").val(criterioAvaliacaoID);
					}
					
				});
				
				/*
					ATUALIZAÇÃO DOS ALUNOS COM BASE NO ANO
				*/
				$("#ano").blur(function(e){
					var ano = e.target.value;
					$.ajax({
						url : window.location.href+"/ano/"+ano,
						type : "get",
					    contentType: "application/json",
					    dataType: "json",
						success : function(response) {
							if(response.length > 0 ){
								$("#select_fichas").attr("disabled", false);
								$('#select_fichas').empty();
								$('#select_fichas').append($('<option>', {
								    value: 0,
								    text:  'Selecione um aluno'
								}));
								for (item in response) {
									$('#select_fichas').append($('<option>', {
									    value: response[item].id,
									    text:  response[item].aluno.nome
									}));
								}
							}else{
								$("#select_fichas").attr("disabled", true);
								$('#select_fichas').empty();
								$('#select_fichas').append($('<option>', {
								    value: 0,
								    text:  'Nenhum aluno encontrado com este ano'
								}));
							}
						},
						error : function(e) {
							 //alert("Submit failed" + JSON.stringify(e));
						}
					})
				})
			}else{
				$("#end-input").before(
				   		  "<div class='row justify-content-center'>"+
								"<div class='col-8'>"+
									"<div class='alert alert-danger' role='alert'>"+
									  "Não foi encontrado nenhum critério de avaliação ativo!"+
									"</div>"+
			                     "</div>"+
		                    "</div>"
				   			);	
			}

		/*]]>*/
	</script>
</section>				
</body>
</html>