<!DOCTYPE html>
<html lang="pt"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/js/alertifyjs/css/alertify.min.css}" />

		<title>gtcc</title>

	</head>

	<body>
		<div>
			<div class="push"></div>
			<section layout:fragment="content">
				Conteudo!
			</section>
			<div class="push"></div>
			<!-- FOOTER -->
			<footer class="page-footer font-small" style="background-color:#e9ecef!important;">
				<!-- Copyright -->
				<div class="footer-copyright text-center py-3">© 2018 Copyright:
					<a href="#"> Sistema de Gerenciamento de Trabalhos de Conclusão de Curso</a>
				</div>
			</footer>
		</div>


		<!-- include javascript in the footer -->
		<script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/alertifyjs/alertify.min.js}"></script>



	</body>
</html>