<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}"/>
</head>
<body>

<section class="main-content" layout:fragment="content">
<script type="text/javascript">
                    function showMe () {

                        var chboxs1 = document.getElementById("coordenador_do_curso");
                        var chboxs2 = document.getElementById("coordenador");
                        if(chboxs1!=null){
                        	if(chboxs1.checked){
                        		document.getElementById("curso").style.display = "flex";
                            	return;
                        	}
                        }
                        if(chboxs2 != null){
                        	if(chboxs2.checked){
                        		document.getElementById("curso").style.display = "flex";
                        		return;
                        	}
                        }
                        document.getElementById("curso").style.display = "none";
                    }
                    </script>

    <div id="wrap" class="container">
        <div id="main">
            <div class="jumbotron">
                <div class="row justify-content-center">
                    <h3>Cadastro de Professor</h3>
                </div>
                <hr/>
                <!-- MESSAGES -->
                <form th:object="${professor}" th:action="@{/gtcc/professor/cadastrar}" method="POST" autocomplete="off"
                      class="form-default form-horizontal" name="form">


                    <div class="form-group row justify-content-center">
                        <div class="field-wrapper col-xl-5">
                            <input type="text" name="nome"
                                   id="nome" class="form-control"
                                   th:field="*{nome}" autofocus="autofocus"aria-label="Professor"
                                   aria-describedby="basic-addon1">
                            <div class="field-placeholder"><span>Nome Completo*</span></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                        <div style="color: red" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></div>
                        </div>
                    </div>
                    
                    <div class="form-group row justify-content-center" id="curso" name="curso" style="display: none">
                        <div class="field-wrapper col-xl-5">
                            <input type="text" class="form-control"
                                   autofocus="autofocus"
                                   aria-describedby="basic-addon1">
                            <div class="field-placeholder"><span>Curso*</span></div>
                        </div>
                    </div>            

                    <div class="form-group row justify-content-center">
                        <div class="field-wrapper col-xl-5">
                            <input type="text" name="email"
                                   id="email" class="form-control"
                                   th:field="*{email}" autofocus="autofocus" aria-label="E-mail"
                                   aria-describedby="basic-addon1">
                            <div class="field-placeholder"><span>E-mail*</span></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <div style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <label>Tipo de Professor *</label>
                        </div>
                    </div>


                    <div class="form-group offset-md-4 offset-sm-1">
                        <div class="form-check row">
                            <input class="form-check-input" th:field="*{coordenador}" onclick="showMe()" type="checkbox" name="coordenador" id="coordenador" value="1">
                            <label class="form-check-label" for="coordenador">
                                Coordenador
                            </label>
                        </div>
                        <div class="form-check row">
                            <input class="form-check-input" th:field="*{orientador}" type="checkbox" name="orientador" id="orientador" value="1">
                            <label class="form-check-label" for="orientador">
                                Orientador
                            </label>
                        </div>
                        <div class="form-check row">
                            <input class="form-check-input" th:field="*{avaliador}" type="checkbox" name="avaliador" id="avaliador" value="1">
                            <label class="form-check-label" for="avaliador">
                                Avaliador
                            </label>
                        </div>
                        <div class="form-check row">
                            <input class="form-check-input" th:field="*{coordenador_do_curso}" onclick="showMe()" type="checkbox" name="coordenador_do_curso" id="coordenador_do_curso" value="1">
                            <label class="form-check-label" for="coordenador_do_curso">
                                Coordenador do Curso
                            </label>
                        </div>
                    </div>

                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <div style="color: red;" th:if="${#fields.hasErrors('coordenador_do_curso')}"
                                 th:errors="*{coordenador_do_curso}"></div>
                        </div>
                    </div>

                    <br>
                    <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                            <label>* Esses campos são obrigatórios</label>
                        </div>
                    </div>

                    <hr/>
                    <div class="form-group row justify-content-center ">
                        <div class=" col-sm-2">
                            <a id="alert" class="btn btn-lg btn-danger" th:href="@{/gtcc/home}">
                                Voltar </a>
                        </div>
                        <div class="col-sm-2 text-right">
                            <button id="btn_salvar" type="button" class="btn btn-lg btn-success" data-toggle="modal"
                                    data-target="#confirmacaoModal">
                                Confirmar
                            </button>
                        </div>

                    </div>

                    <!--  MODAL -->
                    <div class="modal fade" id="confirmacaoModal" tabindex="-1" role="dialog"
                         aria-labelledby="confirmacaoModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmacaoModalLabel">Cadastro de professor</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Tem certeza disso?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar
                                    </button>
                                    <button type="submit" class="btn btn-success">Confirmar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div id="push"></div>
    </div>
</section>

</body>
</html>