<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sf="http://www.springframework.org/tags/form"
    xmlns:s="http://www.springframework.org/tags"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layoutLogin}" >
<head>
</head>
<body>
	<section layout:fragment="content">
		<div id="wrap" class="container">
			<div id="main">
			<div class="jumbotron ">
			<form th:object="${usuario}" th:action="@{/gtcc/login/recuperarSenha}" method="POST"
						class="form-default form-horizontal" >
            <div class="row">
                <div class=" col-md-3 col-lg-3 col-xl-3"></div>
                <div class="col-12 col-sm-11 col-md-6 col-lg-6 col-xl-6">
                    <h1>gtcc</h1>
				<!-- MESSAGES  -->
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 offset-3">
                <div class="form-group" >
							<label for="email" class="col-form-label   text-right">E-mail</label>
							<div class="controls ">
								<input type="text" name="email"
									th:field="*{email}"
									id="email" class="form-control "
									/>
									<div style="color: red;" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" ></div>
							</div>
						</div>
                    
                </div>
            </div>
            
            <div class="row justify-content-center" >
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6  offset-md-4 offset-lg-4 offset-xl-4">
                    <button id="btn_recuperar_senha" type="submit"  class="btn btn-success"><i class="fa fa-sign-in"></i>Recuperar Senha</button>
                </div>
            </div>
				</form>
				</div>
			</div>
		</div>
	</section>

</body>

</html>