<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
<meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
</head>
<body>
	<section layout:fragment="content" class="main-content">
		<div id="wrap" class="container">
			<div id="main">
				<div class="jumbotron">
					<div class="row justify-content-center">
						<h3>Formulário de Avaliação de Proposta de Projeto do TCC</h3>
					</div>
					<hr />
					<!-- MESSAGES -->
					<form th:object="${alunos}" th:action="@{/gtcc/proposta/gerar/}"
						method="POST" autocomplete="off"
						class="form-default form-horizontal" name="form">
						
						<div class="form-group row justify-content-center">
							<div class="input-group col-xl-10">
								<label style="margin-bottom: 0px;">Nome do Aluno*</label>
							</div>
						</div>
						
						<div class="form-group row justify-content-center">
							<div class="input-group col-xl-10">
								<select name="aluno" class="form-control">
									<option th:each="aluno : ${alunos}"
										th:value="${aluno.idUsuario}" th:text="${aluno.nome}"></option>
								</select>
							</div>
						</div>

						<!-- <div class="form-group row justify-content-center">
                        <div class="input-group col-xl-5">
                        <div style="color: red" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}ia</div>
                        </div>
                    </div> -->

						<div class="form-group row justify-content-center">
							<div class="input-group col-xl-10">
								<label style="margin-bottom: 0px;">Avaliação *</label>
							</div>
						</div>


						<div id="bimestre" class="form-group offset-md-2 offset-sm-1">
							<div class="form-check row">
								<input class="form-check-input" type="radio" CHECKED name="avaliacao"
									id="avaliacao" value="1"> <label
									class="form-check-label" for="avaliacao1"> 1° Bimestre
								</label>
							</div>
							<div class="form-check row">
								<input class="form-check-input" type="radio" name="avaliacao"
									id="avaliacao" value="2"> <label
									class="form-check-label" for="avaliacao2"> 2° Bimestre
								</label>
							</div>
							<div class="form-check row">
								<input class="form-check-input" type="radio" name="avaliacao"
									id="avaliacao" value="3"> <label
									class="form-check-label" for="avaliacao3"> 3° Bimestre
								</label>
							</div>
						</div>

						<br>
						<div class="form-group row justify-content-center">
							<div class="input-group col-xl-10">
								<label>* Esses campos são obrigatórios</label>
							</div>
						</div>

						<hr />
						<div class="form-group row justify-content-center ">
							<div class=" col-sm-2">
								<a id="alert" class="btn btn-lg btn-danger"
									th:href="@{/gtcc/home}"> Voltar </a>
							</div>
							<div class="col-sm-2 text-right">
								<button id="btn_salvar" type="submit"
									class="btn btn-lg btn-success">Gerar</button>
							</div>
							

						</div>

					</form>
				</div>
			</div>
			<div id="push"></div>
		</div>
		
		<script th:inline="javascript">
			window.onload = function(){
		        if([[${param.sucesso}]]=="true"){
		  			alertify.success('Proposta gerada com sucesso!');
		        }else if([[${param.sucesso}]]=="false"){
		        	if([[${param.tipo}]]=="1"){
		        		alertify.error('Coordenador não cadastrado!');
		        	}else if([[${param.tipo}]]=="2"){
		        		alertify.error('Atividade não cadastrada!');
		        	}else{
		        		alertify.error('Erro JRException!');
		        	}
		        }
			}
		</script>
		
		<script type="text/javascript">
            document.getElementsByName("aluno")[0].selectedIndex = "0";
            //document.getElementById("btn_salvar").addEventListener("click", abrePdf)

                   
        </script>
	</section>

</body>
</html>